compiler/src/test/resources/jsonschema/choice/elements01.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc"
	jaxb:extensionBindingPrefixes="xjc" jaxb:version="2.0">

	<xs:annotation>
		<xs:appinfo>
			<jaxb:globalBindings typesafeEnumBase="xs:token" />
			<jaxb:schemaBindings>
				<jaxb:package name="test" />
			</jaxb:schemaBindings>
		</xs:appinfo>
	</xs:annotation>

	<xs:element name="choice" type="choiceType" />
	<xs:complexType name="choiceType">
		<xs:choice>
			<xs:element name="a" type="xs:string" minOccurs="0" />
			<xs:element name="b" type="xs:integer" minOccurs="0" />
		</xs:choice>
	</xs:complexType>

</xs:schema>