compiler/src/test/resources/basic/zero/schema.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
	xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc"
	jaxb:extensionBindingPrefixes="xjc"
	jaxb:version="2.0">
	
	<xs:annotation>
		<xs:appinfo>
			<jaxb:globalBindings typesafeEnumBase="xs:string xs:boolean xs:float xs:decimal xs:double xs:anyURI"/>
			<jaxb:schemaBindings>
				<jaxb:package name="org.hisrc.jsonix.tests.zero"/>
			</jaxb:schemaBindings>
		</xs:appinfo>
	</xs:annotation>
	
	<xs:element name="simpleTypes" type="simpleTypesType"/>
	<xs:complexType name="simpleTypesType">
		<xs:sequence>
			<xs:element name="base64Binary" type="xs:base64Binary" minOccurs="0"/>
			<xs:element name="hexBinary" type="xs:hexBinary" minOccurs="0"/>
			<xs:element name="duration" type="xs:duration" minOccurs="0"/>
			<xs:element name="dateTime" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="date" type="xs:date" minOccurs="0"/>
			<xs:element name="time" type="xs:time" minOccurs="0"/>
			<xs:element name="gYearMonth" type="xs:gYearMonth" minOccurs="0"/>
			<xs:element name="gYear" type="xs:gYear" minOccurs="0"/>
			<xs:element name="gMonthDay" type="xs:gMonthDay" minOccurs="0"/>
			<xs:element name="gDay" type="xs:gDay" minOccurs="0"/>
			<xs:element name="gMonth" type="xs:gMonth" minOccurs="0"/>
			<xs:element name="float" type="xs:float" minOccurs="0"/>
			<xs:element name="double" type="xs:double" minOccurs="0"/>
			<xs:element name="decimal" type="xs:decimal" minOccurs="0"/>
			<xs:element name="integer" type="xs:integer" minOccurs="0"/>
			<xs:element name="long" type="xs:long" minOccurs="0"/>
			<xs:element name="int" type="xs:int" minOccurs="0"/>
			<xs:element name="short" type="xs:short" minOccurs="0"/>
			<xs:element name="byte" type="xs:byte" minOccurs="0"/>
			<xs:element name="unsignedLong" type="xs:unsignedLong" minOccurs="0"/>
			<xs:element name="unsignedInt" type="xs:unsignedInt" minOccurs="0"/>
			<xs:element name="unsignedShort" type="xs:unsignedShort" minOccurs="0"/>
			<xs:element name="unsignedByte" type="xs:unsignedByte" minOccurs="0"/>
			<xs:element name="nonNegativeInteger" type="xs:nonNegativeInteger" minOccurs="0"/>
			<xs:element name="nonPositiveInteger" type="xs:nonPositiveInteger" minOccurs="0"/>
			<xs:element name="positiveInteger" type="xs:positiveInteger" 
				minOccurs="0"/>
			<xs:element name="negativeInteger" type="xs:negativeInteger" 
				minOccurs="0"/>
			<xs:element name="boolean" type="xs:boolean" minOccurs="0"/>
			<xs:element name="anyURI" type="xs:anyURI" minOccurs="0"/>
			<xs:element name="QName" type="xs:QName" minOccurs="0"/>
			<!-- 
			<xs:element name="NOTATION" type="xs:NOTATION" minOccurs="0"/>
			 -->

			<xs:element name="string" type="xs:string" minOccurs="0"/>
			<xs:element name="normalizedString" type="xs:normalizedString" 
				minOccurs="0"/>
			<xs:element name="token" type="xs:token" minOccurs="0"/>
			<xs:element name="language" type="xs:language" minOccurs="0"/>
			<xs:element name="Name" type="xs:Name" minOccurs="0"/>
			<xs:element name="NCName" type="xs:NCName" minOccurs="0"/>
			<xs:element name="ID" type="xs:ID" minOccurs="0"/>
			<xs:element name="IDREF" type="xs:IDREF" minOccurs="0"/>
			<xs:element name="IDREFS" type="xs:IDREFS"/>
			<xs:element name="ENTITY" type="xs:ENTITY" minOccurs="0"/>
			<xs:element name="ENTITIES" type="xs:ENTITIES" minOccurs="0"/>
			<xs:element name="NMTOKEN" type="xs:NMTOKEN" minOccurs="0"/>
			<xs:element name="NMTOKENS" type="xs:NMTOKENS" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<!-- Element with a simple type -->
	<xs:element name="string" type="xs:string"/>

	<!-- Complex type with simple content -->
	<xs:element name="value" type="valueType"/>
	<xs:complexType name="valueType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="attribute" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<!-- Any attribute -->	
	<xs:element name="anyAttribute" type="anyAttributeType"/>
	<xs:complexType name="anyAttributeType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:anyAttribute/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<!-- attribute -->	
	<xs:element name="attribute" type="attributeType"/>
	<xs:complexType name="attributeType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="string" type="xs:string" use="optional"/>
				<xs:attribute name="integers" use="optional">
					<xs:simpleType>
						<xs:list itemType="xs:integer"/>			
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	
	<!-- anyElement -->	
	<xs:element name="anyElementLax" type="anyElementLaxType"/>
	<xs:complexType name="anyElementLaxType">
		<xs:sequence>
			<xs:any processContents="lax"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="anyElementStrict" type="anyElementStrictType"/>
	<xs:complexType name="anyElementStrictType">
		<xs:sequence>
			<xs:any processContents="strict"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="anyElementSkip" type="anyElementSkipType"/>
	<xs:complexType name="anyElementSkipType">
		<xs:sequence>
			<xs:any processContents="skip"/>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="strings">
		<xs:list itemType="xs:string"/>
	</xs:simpleType>

	<!--  element -->
	<xs:element name="element" type="elementType"/>
	<xs:complexType name="elementType">
		<xs:sequence>
			<xs:element name="element" type="xs:string" minOccurs="0"/>
			<xs:element name="elements" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="item" type="strings" minOccurs="0"/>
			<xs:element name="items" type="strings" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<!--  elements -->
	<xs:element name="elements" type="elementsType"/>
	<xs:complexType name="elementsType">
		<xs:sequence>
			<xs:choice maxOccurs="unbounded">
				<xs:element name="string" type="xs:string"/>
				<xs:element name="integer" type="xs:integer"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	
	<!-- Element reference -->
	<xs:element name="elementRef" type="elementRefType"/>
	<xs:complexType name="elementRefType">
		<xs:sequence>
			<xs:element ref="base" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<!--  element refs  -->
	<xs:element name="elementRefs" type="elementRefsType"/>
	<xs:complexType name="elementRefsType">
		<xs:sequence>
			<xs:choice maxOccurs="unbounded">
				<xs:element name="alpha" type="valueType"/>
				<xs:element name="beta" type="valueType"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	
	<!-- Mixed  -->
	<xs:element name="elementRefMixed" type="elementRefMixedType"/>
	<xs:complexType name="elementRefMixedType" mixed="true">
		<xs:sequence>
			<xs:element name="value" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<!-- Derivation by extension -->	
	<xs:element name="base" type="baseType"/>
	<xs:complexType name="baseType">
		<xs:sequence>
			<xs:element name="alpha" type="xs:string" minOccurs="0"/>
			<xs:element name="beta" type="xs:integer" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="extended" type="extendedType" substitutionGroup="base"/>
	<xs:complexType name="extendedType">
		<xs:complexContent>
			<xs:extension base="baseType">
				<xs:sequence>
					<xs:element name="gamma" type="xs:anyURI" minOccurs="0"/>
					<xs:element name="delta" type="xs:dateTime" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:element name="extendedExtended" type="extendedExtendedType" substitutionGroup="base"/>
	<xs:complexType name="extendedExtendedType">
		<xs:complexContent>
			<xs:extension base="extendedType">
				<xs:sequence>
					<xs:element name="epsilon" type="xs:double" minOccurs="0"/>
					<xs:element name="zeta" type="xs:decimal" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="abstractBaseType" abstract="true"/>

	<xs:complexType name="extendedMixedType">
		<xs:complexContent mixed="true">
			<xs:extension base="abstractBaseType"/>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="abstractElement" abstract="true"/>


	<xs:element name="simpleEnumTypes" type="simpleEnumTypesType"/>
	<xs:complexType name="simpleEnumTypesType">
		<xs:sequence>
			<xs:element name="base64Binary" type="base64BinaryEnumType" minOccurs="0"/>
			<xs:element name="hexBinary" type="hexBinaryEnumType" minOccurs="0"/>
			<xs:element name="duration" type="durationEnumType" minOccurs="0"/>
			<xs:element name="dateTime" type="dateTimeEnumType" minOccurs="0"/>
			<xs:element name="date" type="dateEnumType" minOccurs="0"/>
			<xs:element name="time" type="timeEnumType" minOccurs="0"/>
			<xs:element name="gYearMonth" type="gYearMonthEnumType" minOccurs="0"/>
			<xs:element name="gYear" type="gYearEnumType" minOccurs="0"/>
			<xs:element name="gMonthDay" type="gMonthDayEnumType" minOccurs="0"/>
			<xs:element name="gDay" type="gDayEnumType" minOccurs="0"/>
			<xs:element name="gMonth" type="gMonthEnumType" minOccurs="0"/>
			<xs:element name="float" type="floatEnumType" minOccurs="0"/>
			<xs:element name="double" type="doubleEnumType" minOccurs="0"/>
			<xs:element name="decimal" type="decimalEnumType" minOccurs="0"/>
			<xs:element name="integer" type="integerEnumType" minOccurs="0"/>
			<xs:element name="long" type="longEnumType" minOccurs="0"/>
			<xs:element name="int" type="intEnumType" minOccurs="0"/>
			<xs:element name="short" type="shortEnumType" minOccurs="0"/>
			<xs:element name="byte" type="byteEnumType" minOccurs="0"/>
			<xs:element name="unsignedLong" type="unsignedLongEnumType" minOccurs="0"/>
			<xs:element name="unsignedInt" type="unsignedIntEnumType" minOccurs="0"/>
			<xs:element name="unsignedShort" type="unsignedShortEnumType" minOccurs="0"/>
			<xs:element name="unsignedByte" type="unsignedByteEnumType" minOccurs="0"/>
			<xs:element name="nonNegativeInteger" type="nonNegativeIntegerEnumType" minOccurs="0"/>
			<xs:element name="nonPositiveInteger" type="nonPositiveIntegerEnumType" minOccurs="0"/>
			<xs:element name="positiveInteger" type="positiveIntegerEnumType" 
				minOccurs="0"/>
			<xs:element name="negativeInteger" type="negativeIntegerEnumType" 
				minOccurs="0"/>
			<!-- Not allowed by XML Schema -->
			<!-- xs:element name="boolean" type="booleanEnumType" minOccurs="0"/ -->
			<xs:element name="anyURI" type="anyURIEnumType" minOccurs="0"/>
			<xs:element name="QName" type="QNameEnumType" minOccurs="0"/>
			<!-- 
			<xs:element name="NOTATION" type="NOTATIONEnumType" minOccurs="0"/>
			 -->

			<xs:element name="string" type="stringEnumType" minOccurs="0"/>
			<xs:element name="normalizedString" type="normalizedStringEnumType" 
				minOccurs="0"/>
			<xs:element name="token" type="tokenEnumType" minOccurs="0"/>
			<xs:element name="language" type="languageEnumType" minOccurs="0"/>
			<xs:element name="Name" type="NameEnumType" minOccurs="0"/>
			<xs:element name="NCName" type="NCNameEnumType" minOccurs="0"/>
			<xs:element name="ID" type="IDEnumType" minOccurs="0"/>
			<xs:element name="IDREF" type="IDREFEnumType" minOccurs="0"/>
			<xs:element name="IDREFS" type="IDREFSEnumType"/>
			<xs:element name="ENTITY" type="ENTITYEnumType" minOccurs="0"/>
			<xs:element name="ENTITIES" type="ENTITIESEnumType" minOccurs="0"/>
			<xs:element name="NMTOKEN" type="NMTOKENEnumType" minOccurs="0"/>
			<xs:element name="NMTOKENS" type="NMTOKENSEnumType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

    <!-- Enumerations -->
    <xs:element name="base64BinaryEnum" type="base64BinaryEnumType"/>
    <xs:simpleType name="base64BinaryEnumType">
        <xs:restriction base="xs:base64Binary">
            <xs:enumeration value="aGVyb25neWFuZy5jb20="/>
            <xs:enumeration value="QQ=="/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="hexBinaryEnum" type="hexBinaryEnumType"/>
    <xs:simpleType name="hexBinaryEnumType">
        <xs:restriction base="xs:hexBinary">
            <xs:enumeration value="0FB7"/>
            <xs:enumeration value="A4D98C"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="durationEnum" type="durationEnumType"/>
    <xs:simpleType name="durationEnumType">
        <xs:restriction base="xs:duration">
            <xs:enumeration value="P1Y2M3DT10H30M"/>
            <xs:enumeration value="-P120D"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="dateTimeEnum" type="dateTimeEnumType"/>
    <xs:simpleType name="dateTimeEnumType">
        <xs:restriction base="xs:dateTime">
            <xs:enumeration value="1999-05-31T13:20:00-05:00"/>
            <xs:enumeration value="2016-07-13T11:00:00-05:00"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="dateEnum" type="dateEnumType"/>
    <xs:simpleType name="dateEnumType">
        <xs:restriction base="xs:date">
            <xs:enumeration value="1999-05-31"/>
            <xs:enumeration value="2016-07-13"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="timeEnum" type="timeEnumType"/>
    <xs:simpleType name="timeEnumType">
        <xs:restriction base="xs:time">
            <xs:enumeration value="13:20:00-05:00"/>
            <xs:enumeration value="11:28:00+06:00"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="gYearMonthEnum" type="gYearMonthEnumType"/>
    <xs:simpleType name="gYearMonthEnumType">
        <xs:restriction base="xs:gYearMonth">
            <xs:enumeration value="1999-05"/>
            <xs:enumeration value="2016-07"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="gYearEnum" type="gYearEnumType"/>
    <xs:simpleType name="gYearEnumType">
        <xs:restriction base="xs:gYear">
            <xs:enumeration value="1999"/>
            <xs:enumeration value="2016"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="gMonthDayEnum" type="gMonthDayEnumType"/>
    <xs:simpleType name="gMonthDayEnumType">
        <xs:restriction base="xs:gMonthDay">
            <xs:enumeration value="--05-31"/>
            <xs:enumeration value="--07-13"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="gDayEnum" type="gDayEnumType"/>
    <xs:simpleType name="gDayEnumType">
        <xs:restriction base="xs:gDay">
            <xs:enumeration value="---01"/>
            <xs:enumeration value="---31"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="gMonthEnum" type="gMonthEnumType"/>
    <xs:simpleType name="gMonthEnumType">
        <xs:restriction base="xs:gMonth">
            <xs:enumeration value="--05"/>
            <xs:enumeration value="--12"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="floatEnum" type="floatEnumType"/>
    <xs:simpleType name="floatEnumType">
        <xs:restriction base="xs:float">
            <xs:enumeration value="1267.43233"/>
            <xs:enumeration value="12.78e-2"/>
            <xs:enumeration value="12"/>
            <xs:enumeration value="INF"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="doubleEnum" type="doubleEnumType"/>
    <xs:simpleType name="doubleEnumType">
        <xs:restriction base="xs:double">
            <xs:enumeration value="1267.43233"/>
            <xs:enumeration value="12.78e20"/>
            <xs:enumeration value="12"/>
            <xs:enumeration value="-INF"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="decimalEnum" type="decimalEnumType"/>
    <xs:simpleType name="decimalEnumType">
        <xs:restriction base="xs:decimal">
            <xs:enumeration value="+1267.43233"/>
            <xs:enumeration value="-12.7820"/>
            <xs:enumeration value="12"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="integerEnum" type="integerEnumType"/>
    <xs:simpleType name="integerEnumType">
        <xs:restriction base="xs:integer">
            <xs:enumeration value="-1321532"/>
            <xs:enumeration value="245234623"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="longEnum" type="longEnumType"/>
    <xs:simpleType name="longEnumType">
        <xs:restriction base="xs:long">
            <xs:enumeration value="9223372036854775807"/>
            <xs:enumeration value="-9223372036854775808"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="intEnum" type="intEnumType"/>
    <xs:simpleType name="intEnumType">
        <xs:restriction base="xs:int">
            <xs:enumeration value="2147483647"/>
            <xs:enumeration value="-2147483648"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="shortEnum" type="shortEnumType"/>
    <xs:simpleType name="shortEnumType">
        <xs:restriction base="xs:short">
            <xs:enumeration value="32767"/>
            <xs:enumeration value="-32768"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="byteEnum" type="byteEnumType"/>
    <xs:simpleType name="byteEnumType">
        <xs:restriction base="xs:byte">
            <xs:enumeration value="127"/>
            <xs:enumeration value="-128"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="unsignedLongEnum" type="unsignedLongEnumType"/>
    <xs:simpleType name="unsignedLongEnumType">
        <xs:restriction base="xs:unsignedLong">
            <xs:enumeration value="0"/>
            <xs:enumeration value="18446744073709551615"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="unsignedIntEnum" type="unsignedIntEnumType"/>
    <xs:simpleType name="unsignedIntEnumType">
        <xs:restriction base="xs:unsignedInt">
            <xs:enumeration value="0"/>
            <xs:enumeration value="4294967295"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="unsignedShortEnum" type="unsignedShortEnumType"/>
    <xs:simpleType name="unsignedShortEnumType">
        <xs:restriction base="xs:unsignedShort">
            <xs:enumeration value="0"/>
            <xs:enumeration value="65535"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="unsignedByteEnum" type="unsignedByteEnumType"/>
    <xs:simpleType name="unsignedByteEnumType">
        <xs:restriction base="xs:unsignedByte">
            <xs:enumeration value="0"/>
            <xs:enumeration value="255"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="nonNegativeIntegerEnum" type="nonNegativeIntegerEnumType"/>
    <xs:simpleType name="nonNegativeIntegerEnumType">
        <xs:restriction base="xs:nonNegativeInteger">
            <xs:enumeration value="0"/>
            <xs:enumeration value="12678967543233"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:element name="nonPositiveIntegerEnum" type="nonPositiveIntegerEnumType"/>
    <xs:simpleType name="nonPositiveIntegerEnumType">
        <xs:restriction base="xs:nonPositiveInteger">
            <xs:enumeration value="0"/>
            <xs:enumeration value="-100000"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="positiveIntegerEnum" type="positiveIntegerEnumType"/>
    <xs:simpleType name="positiveIntegerEnumType">
        <xs:restriction base="xs:positiveInteger">
            <xs:enumeration value="1"/>
            <xs:enumeration value="12678967543233"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="negativeIntegerEnum" type="negativeIntegerEnumType"/>
    <xs:simpleType name="negativeIntegerEnumType">
        <xs:restriction base="xs:negativeInteger">
            <xs:enumeration value="-1"/>
            <xs:enumeration value="-12678967543233"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="anyURIEnum" type="anyURIEnumType"/>
    <xs:simpleType name="anyURIEnumType">
        <xs:restriction base="xs:anyURI">
            <xs:enumeration value="/some/relative/path"/>
            <xs:enumeration value="http://somedomain.com/absolute/path#withHash"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="QNameEnum" type="QNameEnumType"/>
    <xs:simpleType name="QNameEnumType">
        <xs:restriction base="xs:QName">
            <xs:enumeration value="anyURIEnum"/>
            <xs:enumeration value="xs:QName"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="stringEnum" type="stringEnumType"/>
    <xs:simpleType name="stringEnumType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Apple"/>
            <xs:enumeration value="Bear"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="normalizedStringEnum" type="normalizedStringEnumType"/>
    <xs:simpleType name="normalizedStringEnumType">
        <xs:restriction base="xs:normalizedString">
            <xs:enumeration value="\tApple\n"/>
            <xs:enumeration value="\tBear\n"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="tokenEnum" type="tokenEnumType"/>
    <xs:simpleType name="tokenEnumType">
        <xs:restriction base="xs:token">
            <xs:enumeration value="Édition française."/>
            <xs:enumeration value="PB&amp;J"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="languageEnum" type="languageEnumType"/>
    <xs:simpleType name="languageEnumType">
        <xs:restriction base="xs:language">
            <xs:enumeration value="zh"/>
            <xs:enumeration value="en-US"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="NameEnum" type="NameEnumType"/>
    <xs:simpleType name="NameEnumType">
        <xs:restriction base="xs:Name">
            <xs:enumeration value="languageEnum"/>
            <xs:enumeration value="xs:QName"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="NCNameEnum" type="NCNameEnumType"/>
    <xs:simpleType name="NCNameEnumType">
        <xs:restriction base="xs:NCName">
            <xs:enumeration value="NCNameEnum"/>
            <xs:enumeration value="some-element"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="IDEnum" type="IDEnumType"/>
    <xs:simpleType name="IDEnumType">
        <xs:restriction base="xs:ID">
            <xs:enumeration value="IDEnum"/>
            <xs:enumeration value="anyElementStrict"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="IDREFEnum" type="IDREFEnumType"/>
    <xs:simpleType name="IDREFEnumType">
        <xs:restriction base="xs:IDREF">
            <xs:enumeration value="IDEnum"/>
            <xs:enumeration value="anyElementStrict"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="IDREFSEnum" type="IDREFSEnumType"/>
    <xs:simpleType name="IDREFSEnumType">
        <xs:restriction base="xs:IDREFS">
            <xs:enumeration value="IDEnum some-other-id"/>
            <xs:enumeration value="anyElementStrict _and-anotherId"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="ENTITYEnum" type="ENTITYEnumType"/>
    <xs:simpleType name="ENTITYEnumType">
        <xs:restriction base="xs:ENTITY">
            <xs:enumeration value="IDEnum"/>
            <xs:enumeration value="anyElementStrict"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="ENTITIESEnum" type="ENTITIESEnumType"/>
    <xs:simpleType name="ENTITIESEnumType">
        <xs:restriction base="xs:ENTITIES">
            <xs:enumeration value="IDEnum some-other-id"/>
            <xs:enumeration value="anyElementStrict _and-anotherId"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="NMTOKENEnum" type="NMTOKENEnumType"/>
    <xs:simpleType name="NMTOKENEnumType">
        <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="ABCD"/>
            <xs:enumeration value="123_456"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="NMTOKENSEnum" type="NMTOKENSEnumType"/>
    <xs:simpleType name="NMTOKENSEnumType">
        <xs:restriction base="xs:NMTOKENS">
            <xs:enumeration value="ABCD 123"/>
            <xs:enumeration value="123_456"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>